//Custom stuff.



//OVERWRITES
#sidenav {
	z-index: 1000;
}
.menu-item-158 {
	
	a {
		background: $orange;
		color: $w !important;
		padding-right:28px !important;
		&:hover {
			background: $darkblue !important;
		}
	}
}

#menu-item-158 {
	@media only screen and (max-width : 993px) {  
		display:none;
	}
}