//Not al Mobile media queries are in here, these are just specific mobil stuff

#mobil_header{
	margin-top:-2px;
	position: fixed;
	z-index: 100;
	
	width:100%;
	button{
		width:100%;
		border:none;
		background:none;
		margin-top: 25%;
		
		i{
			color:$w;
			font-size: 400%;
		}
	}
	.logo{
		//width:100%;
		height:200px;
		@media only screen and (max-width : 500px) {  
			height:75px;
		}
		@media only screen and (min-width:501px) and (max-width : 680px) {  
			height:125px;
		}

	}
	.mnav{
		
		//background: $lightblue;
		max-height:50%;
		.menu{
			background: $lightblue;
			text-align: left;
			@media only screen and (max-width : 680px) {  
				button{

					i{
						font-size: 200%;
					}
				}
			}
		}
		.mobilelogo{
			text-align: center;
			
		}
		.search{
			text-align: right;
			background: $lightblue;
			@media only screen and (max-width : 680px) {  
				button{
					i{
						font-size: 200%;
					}
				}
			}
		}

	}
}

.search-form{
	.btn{
		padding: 9px 12px;
	}
}
.mobile_footer{
	
    margin-left: 14px;
    margin-right: 14px;

	.footer_brand{
		background:$darkblue;
		text-align: center;
		border-top:5px $w solid;
		padding-top: 40px;
	}
	.sol{
		ul{
			margin-left: 10px;
			li{
				
				a{
					display: block;
					color:$w;
					text-align: left;
					padding:10px;
					font-weight: 800;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
}
#sb-sit{
	//background:$w;
	
		@media only screen and (max-width : 993px) {  
			background:$w;
		}
	
	width:auto;
}
.sb-slidebar{
	
	background:$darkblue;
}

.full_nav {
   
    
    margin-left: -15px;
   
    width: 100%;
    &.blue{
    	 background:$lightblue;
    	 height: 78%;
    	  position: absolute;
    }
    &.white{
    	background:$w;
    	position:absolute;
    	top:78%;
    	height:22%;
    }
}
.left_navigation_mobile.side_nav{
	.login{
		display: block;
		width: auto;
		background:$orange;
		color:$w;
		padding:10px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 800;
		&:hover{
			text-decoration: none;
		}
	}
	nav{
		width:auto;
		h2{
			text-transform: uppercase;
			a{
				color:$lightblue;
				&:hover{
					color:$w;
				}
			}
			&:before{
				content:"\f101";
				font-weight: 800;
				font-family: FontAwesome;
			}
		}
		.menu-main-container{
			#menu-item-50, #menu-item-45{
				display:none;
			}
		}
		ul{
			margin-left: 20px;
			li{
				padding:5px;
				display: block;
				float:none;
				&.current-menu-item{
					background:$lightblue;
					margin-left: -50px;
    				margin-right: -20px;
    				padding-left: 50px;
				}
				a{
					padding:0;
					font-weight: 800;
					display: block;
					&:hover{
						background:none;
						color:$w;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.mobile_footer{
	ul{
		li{

		}
	}
}

.right_search_mobile{
	form{
		padding:20px;
	}
}

@media only screen and (max-width : 993px) {  
	#alert{
  		margin-top: 200px
  	}
	#sidebar{
		padding-top:1px;
		}
	#ai1ec-container{
		padding-bottom: 30px;	
	}
	
}  
@media only screen and (max-width : 500px) {  
	#alert{
  		margin-top: 100px
  	}
	.main {
		h1.title, .mrc_title, .ems_title{
			font-size: 20px;
			line-height: 26px;
		}
	}
	.ai1ec-pagination.ai1ec-btn-group,.ai1ec-views-dropdown.ai1ec-btn-group.ai1ec-pull-right{
		width:100%;
	}
	.ai1ec-btn.ai1ec-btn-sm.ai1ec-btn-default.ai1ec-dropdown-toggle{
		width: 100% !important;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.ai1ec-minical-trigger.ai1ec-btn.ai1ec-btn-sm.ai1ec-btn-default.ai1ec-tooltip-trigger{
		width:75% !important;
	}
	.ai1ec-fa.ai1ec-fa-chevron-left, .ai1ec-fa.ai1ec-fa-chevron-right{
		font-size: 16px !important;
	}
	.down{
		top:37%;
		&.left{
			margin-left: -48px;
		}
		&.right{
			margin-left: -4px;
		}
	}
	.carousel-inner {
		height:680px;
		.content {
			.image_container img{
				max-height: 200px;	
			}
			header h1{	
				font-size:20px;
			}
		}
	}
	.ecal{
		padding-top:50px;
		padding-bottom: 50px;
	}
	
	
} 
@media only screen and (min-width:501px) and (max-width : 680px) {  
	#alert{
  		margin-top: 125px
  	}
	.ecal{
		padding-top:50px;
		padding-bottom: 50px;
	}
	.div_shortcode {
		.image-container{
			height:300px;	
		}
		.row.heading_h1 {
			margin:auto;
			text-align: center;
			h1{
				margin:auto;
				text-align: center;
			}
			img{
				width:auto;	
			}
		}
	}
}

@media only screen and  (max-width : 1199px) {  
	.main_content,.non-mobile  {
  		margin-left:0;
  	}
  	.non-mobile{
  		position: relative;
  	}
	
	.ai1ec-fa.ai1ec-fa-chevron-left, .ai1ec-fa.ai1ec-fa-chevron-right{
		font-size: 16px !important;
	}
}

@media only screen  and  (min-width : 991px) and  (max-width : 1199px) { 
	.div_shortcode h1{
		font-size: 17px;
	}
	#sidebar h1 {
		padding-top: 15px;
	}
	.main_navigation .navbar-default ul li a, .footer_nav .navbar-default ul li a{
		padding: 15px 8px 15px 15px;
	}
	.main_navigation .navbar-default ul li.current-menu-item a:before {
		left:2px;
	}
}

@media only screen and (min-width:681px) and  (max-width : 991px) {  
	#cat_page article header a, #archive article header a{
		margin-top: -19px;
		margin-bottom: 10px;
	}

		.div_shortcode {
			.image-container{
				height:300px;	
			}
		}

	.textwidget{
		.div_shortcode {
			.image-container{
				height:125px !important;	
			}
		}
	}
	.down{
	
		&.left{
			margin-left: -75px;
		}
		&.right{
			margin-left: 25px;
		}
	}
	
}



@media only screen and  (max-width : 400px) {  
	.ai1ec-event-title{
		font-size: 20px !important;
	}
}

@media only screen and (max-width: 400px) {
	.row {
		//margin-left: -30px;
		//margin-right: -30px;

	}
	.ai1ec-posterboard-view {
		width: 100% !important;
	}
	.ai1ec-event.ai1ec-event-id-68.ai1ec-event-instance-id-1 {
		width: 100% !important;
	}
	.ai1ec-event-title {
		font-size: 20px !important;
	}
}


