/* Common variables */

$w : #ffffff;
$b : #000000;
$dg: #333333;
$lg: #eeeeee;
$bb: #00c1f1;
$gre:#A6FC07;
$primary: #000000;



//brand colors
$orange:#e95425;
$darkblue:#006b8e;
$lightblue:#00b8d8;